:root{
    --font_dark: rgba(0,0,0,0.87);
    --font_medium: rgba(0,0,0,0.54);
    --font_light: rgba(0,0,0,0.34);
    --font_white: white;
    --bg: #efefef;

}

.circle{
position: relative;
border-radius: 50%;
overflow: hidden;
height: 300px;
width: 300px;
text-align: center;
border: 20px solid var(--font_medium);
color: white;
z-index: 2;
margin: 25% auto;
}
.fill {
    position:absolute;
    bottom:0; left:0;
    width:100%;
    background: orange;
    height: 20%;
    transition:height 600ms;
    z-index: 1;
}

.text {
z-index: 3;
}
.circle:hover .fill{
    height: 40%;
}

body{
    background-color: var(--bg);
}

.doughnut { 
    border: 35px solid var(--font_light);
    border-radius: 100%;
    height:300px;
    width:300px;
    margin: 25% auto;
    /* insert progress here */

    /*  */
}

#index_title{
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
}

#steps{
    text-align: center;
    margin: 25px auto;
}
.major{
    font-size: 1.5em;
}
.minor{
    font-size: 0.8em;
}