:root{
    --font_dark: rgba(0,0,0,87);
    --font_medium: rgba(0,0,0,54);
    --font_light: rgba(0,0,0,34);
    --font_white: white;
    --bg: #efefef;

}

.container{
    background-color: var(--bg);
}

.doughnut { 
    border: 35px solid var(--font_light);
    border-radius: 100%;
    height:300px;
    width:300px;
    /* insert progress here */

    /*  */
}